#questionLI {
    float: left;
    list-style: none;
    text-align: center;
    background-color: purple;
    color: white;
    margin-top: 50px;
    margin-right: 30px;
    width: 165px;
    line-height: 60px;
    border-radius:15px;
    border: 2px solid black;
}

#gameOver {
    text-align: center;
}

#userScore {
    /* display: none; */

}

#userList {
    /* background-color: gray;
    border: 2px solid black;
    width: 100px;
    line-height: 60px; */

}

#timer {
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
}

#question {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}

.container {
    margin: 5% 0 0 10%;
}

.jumbotron {
    padding: 0 0 4% 0;
    margin-left: 10%;
    border: 5px double;
}

.questionSection {
    display:none;
}

#question-result {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
}

#scores {
    margin-left: 20px;
    float:left;
}


